/*===滑动页面内容1=*/
.Welcome-1{
    color: var(--ys3);
    font-size: 60px;
    letter-spacing: 16px;  /*====字体间距===*/
    font-weight: 800;     /*====字体粗细===*/
   	transition: all 0.4s ease;
}
.Welcome-2{
    margin-top:-10px;  
    text-align: center; 
    color: var(--ys1);
    font-size: 28px;
    letter-spacing: 2px;  /*====字体间距===*/
    font-weight: 600;     /*====字体粗细===*/
}
.Welcome-3{
    margin-top:-16px;
    text-align: center; 
    color: var(--ys2);
    font-size: 18px;
    letter-spacing: 2px;  /*====字体间距===*/
    font-weight: 300;     /*====字体粗细===*/
}
/*===方形连接=*/
.bdd {
  position: relative;
  margin:120px 20px 0 20px;
}
.fa1 { 
  opacity:0.9;
  overflow: hidden;
  width: 80px;
  height: 80px;
  font-size: 35px; 
  margin:10px;    
  position: relative;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
.fa1:before, .fa:after {
  left: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 50%;
  width: 100%;
}
.fa1:before {
  color: white;
  -webkit-transform: translate3D(0, -50%, 0);
  -ms-transform: translate3D(0, -50%, 0);
  transform: translate3D(0, -50%, 0);
  z-index: 2;
}
.fa1:after {
  padding-bottom: 25%;
  padding-top: 300%;
  top: 0;
  font-size: 14px;
}
.fa1:hover:after {
  -webkit-transform: translate3D(0, -70%, 0);
  -ms-transform: translate3D(0, -70%, 0);
  transform: translate3D(0, -70%, 0);
}
.fa1:hover:before {
  -webkit-transform: translate3D(0, -150%, 0);
  -ms-transform: translate3D(0, -150%, 0);
  transform: translate3D(0, -150%, 0);
}

.k1:after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #2596d4), color-stop(75%, #ffffff));
  background-image: -webkit-linear-gradient(#2596d4 45%, #ffffff 90%);
  background-image: linear-gradient(#2596d4 45%, #ffffff 90%);
  content: "群晖系统";
}

.k2:after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #3b5998), color-stop(90%, #ffffff));
  background-image: -webkit-linear-gradient(#3b5998 45%, #ffffff 90%);
  background-image: linear-gradient(#3b5998 45%, #ffffff 90%);
  content: "远程下载";
  color: #3b5998;
}
 
.k3:after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #8125d4), color-stop(90%, #ffffff));
  background-image: -webkit-linear-gradient(#8125d4 45%, #ffffff 90%);
  background-image: linear-gradient(#8125d4 45%, #ffffff 90%);
  content: "资源管理器";
  color: #8125d4;
}

.k4:after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #cb2027), color-stop(90%, #ffffff));
  background-image: -webkit-linear-gradient(#cb2027 45%, #ffffff 90%);
  background-image: linear-gradient(#cb2027 45%, #ffffff 90%);
  content: "图 库";
  color: #cb2027;
}
  
.k5:after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #ba574f), color-stop(90%, #ffffff));
  background-image: -webkit-linear-gradient(#ba574f 45%, #ffffff 90%);
  background-image: linear-gradient(#c85195 45%, #ffffff 90%);
  content: "智慧家庭";
  color: #c85195
} 
 
.k6:after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #10ad9f), color-stop(90%, #ffffff));
  background-image: -webkit-linear-gradient(#10ad9f 45%, #ffffff 90%);
  background-image: linear-gradient(#10ad9f 45%, #ffffff 90%);
  content: "Github";
  color: #10ad9f
} 

.k7:after {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #46a049), color-stop(90%, #ffffff));
  background-image: -webkit-linear-gradient(#46a049 45%, #ffffff 90%);
  background-image: linear-gradient(#46a049 45%, #ffffff 90%);
  content: "倾微博客";
  color: #46a049;
}

.dh1 {
  animation-name:d1;
  animation-duration:8s;
  animation-timing-function:ease-out;
  animation-delay:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-play-state:running;
  perspective: 100;
}
@keyframes d1 {
  0%   {transform: rotateY(0deg);}
  97%  {transform: rotateY(0deg);}
  100% {transform: rotateY(90deg);}
}
.dh2 {
  animation-name:d2;
  animation-duration:8.2s;
  animation-timing-function:ease;
  animation-delay:2s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  perspective: 10;
}
@keyframes d2
{
  0%   {transform: rotate(0deg);}
  10%  {transform: rotate(0deg);}
  90%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.dh3 {
  animation-name:d3;
  animation-duration:6.4s;
  animation-timing-function:ease-out;
  animation-delay:3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-play-state:running;
    -moz-perspective: 100px;
    -webkit-perspective: 100px;
    perspective: 100px;
}
@keyframes d3
{
  0%   {transform: rotateX(0deg);}
  95%  {transform: rotateX(0deg);}
  100% {transform: rotateX(90deg);}
}
.dh4 {
  animation-name:d4;
  animation-duration:11.7s;
  animation-timing-function:ease;
  animation-delay:1s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  perspective: 100;
}
@keyframes d4
{
  93%  {transform: rotate(0deg);}
  96%  {transform: rotate(-8deg) translateX(-7px);}
  98%  {transform: rotate(8deg) translateX(8px);}
  100% {transform: rotate(0deg) ;}
}
.dh5 {
  animation-name:d5;
  animation-duration:8.8s;
  animation-timing-function:ease;
  animation-delay:5s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  perspective: 10;
}
@keyframes d5
{
  90%  {transform: translateX(0px);}
  93%  {transform: translateX(-8px);}
  96%  {transform: translateX(7px);}
  98%  {transform: translateX(-6px);}
  99%  {transform: translateX(5px);}
}
.dh6 {
  animation-name:d6;
  animation-duration:6s;
  animation-timing-function:ease;
  animation-delay:6s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  perspective: 10;
}
@keyframes d6
{
  86%  {transform: translateY(0px);}
  93%  {transform: translateY(-10px);}
  96%  {transform: translateY(2px);}
  98% {transform: translateY(-4px);}
}
.dh7 {
  animation-name:d7;
  animation-duration:7s;
  animation-timing-function:ease;
  animation-delay:6s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  perspective: 10;
}
@keyframes d7
{
  90%  {transform: translateY(0px);}
  93%  {transform: translateY(8px);}
  96%  {transform: translateY(-7px);}
  98%  {transform: translateY(6px);}
  99%  {transform: translateY(-5px);}
}
.dh8 {
  animation-name:d8;
  animation-duration:9s;
  animation-timing-function:ease;
  animation-delay:4s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
}
@keyframes d8 {
  0%   {transform: rotate(0deg);}
  10%  {transform: rotate(0deg);}
  90%  {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

.dh9 {
  animation-name:dh9;
  animation-duration:13s;
  animation-delay:1s; 
  animation-direction:normal;
  animation-play-state:running;
  animation-iteration-count:infinite; 
}

@keyframes dh9 {
  0%  {transform: rotate(0deg);bezier: cubic-bezier(0.755, 0.050, 0.855, 0.060);}
  90% {transform: rotate(0deg);bezier: cubic-bezier(0.755, 0.050, 0.855, 0.060);}
  92% {transform: rotate(-20deg);bezier: cubic-bezier(0.230, 1.000, 0.320, 1.000);}
  98% {transform: rotate(380deg);bezier: cubic-bezier(0.470, 0.000, 0.745, 0.715);}
  100%{transform: rotate(360deg);bezier: cubic-bezier(0.420, 0.000, 0.580, 1.000);}
}

.dh10 {
  animation-name:dh10;
  animation-duration:10s;
  animation-delay:2s; 
  animation-direction:normal;
  animation-play-state:running;
  animation-iteration-count:infinite; 
}

@keyframes dh10 {
  0%  {transform: rotate(0deg);bezier: cubic-bezier(0.755, 0.050, 0.855, 0.060);}
  85% {transform: rotate(0deg);bezier: cubic-bezier(0.755, 0.050, 0.855, 0.060);}
  88% {transform: rotate(20deg);bezier: cubic-bezier(0.230, 1.000, 0.320, 1.000);}
  97% {transform: rotate(-380deg);bezier: cubic-bezier(0.470, 0.000, 0.745, 0.715);}
  100%{transform: rotate(-360deg);bezier: cubic-bezier(0.420, 0.000, 0.580, 1.000);}
}





/* 宽度小于500px-手机竖屏 */
@media only screen and (max-width: 700px) {
.fa1 {
  margin:6px; 
}
.bdd{
  margin:60px 10px 0 10px;

}
}
@media only screen and (max-width: 580px) {
.Welcome-1{
    font-size: 40px;
    letter-spacing: 6px;  /*====字体间距===*/
}
.Welcome-2{
    font-size: 18px;
    letter-spacing: 2px;  /*====字体间距===*/
}
.Welcome-3{
    font-size: 12px;
}

}
@media only screen and (max-width: 580px) {
.Welcome-1{
    font-size: 40px;
}
.Welcome-2{
    font-size: 18px;
}
.Welcome-3{
    font-size: 12px;
}

}
/*适配4寸小屏手机*/
@media only screen and (max-width: 340px) {
.fa1 { 
  width: 60px;
  height: 60px;
  font-size: 28px;   
}


}

/* 高度小于500px-手机横屏 */
@media only screen and (max-height: 690px) {

.bdd {
  margin:30px 10px 0px 10px;
}


} 
@media only screen and (max-height: 560px) {

.bdd {
  margin:0px 10px 0px 10px;
}


}
