
@media only screen and (max-width: 768px) { 
      
.custom-navbar{
  padding: 10px 0;
  background: var(--ysb6);
}
.navbar-toggle {
  color:var(--ys1);
  float: none;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
/*** 菜单按钮 ***/
.menu-toggle1{
  top:-6px;
  padding: 15px 20px;
  margin-right: -6px;
}
.menu-toggle1 i{
  margin:13.5px 0px 0px -11px;
  position: absolute;
  display: block;
  background-color: var(--ys1);
  width: 23px;
  height: 2.3px; 
  border-radius:1.5px;
  text-shadow: none; 
  font: 0/0 a;
}
.menu-t1 {
  top:-7.5px;
  transition-duration: .4s, 0.15s;
  transition-delay: 0s, 0.2s;
  transition-property: top, transform;
}
.menu-t2 {
  top:0px;
  transition-duration: .15s, 0.2s;
  transition-delay: 0.2s, 0.2s;
  transition-property: background, width;
}
.menu-t3 {
  top:7.5px;
  transition-duration: .4s, 0.15s;
  transition-delay: 0s, 0.2s;
  transition-property: top, transform;
}

/* 菜单按钮点击动画 */
.menu-t2.is-clicked {
  background-color: rgba(255, 0, 119, 0);
  width: 0px;
  transition-duration: .1s, 0.2s;
  transition-delay: 0.1s, 0s;
}
.menu-t1.is-clicked {
  top: 0;
  transform: rotate(45deg);
  transition-duration: .15s, .4s;
  transition-delay: .3s, 0.1s;
}
.menu-t3.is-clicked {
  top: 0;
  transform: rotate(-45deg);
  transition-duration: .15s, .4s;
  transition-delay: .3s, 0.1s;
}
    
.logo a{
    display: inline-block;
    margin-top: 7px;
    color: var(--ys1);
    font-size: 16px;
    transition:all .2s ease-out .2s;
  }

.fa-cd {
  background: none;
   font-size: 18px;
   transition:300ms ease all;
}
.fa-cd2 {
   font-size: 20px;
   margin: 0 -5px;
   transition:300ms ease all;
}
.navbar-toggle:hover i{
   color: var(--ys4);
}
.navbar-toggle.active{
   color: var(--ys4);
}
.main-menu ul.navbar-nav {
  float: left;
  width:100%;
}
.main-menu ul.navbar-nav li a{
   padding: 6px 20px;

}
.main-menu ul.nav.navbar-nav li.active:before{
    display: none;
}

.caidan {
  max-height:1000px;
  overflow:scroll;
  -webkit-overflow-scrolling : touch;
  transition: all 0.3s ease;
  border-top:1px solid rgba(160, 160, 160,0.15);
}

.navbar-header {
    display: inline-block;
    float: right;
}

.mobile-menu-activated ul.nav.navbar-nav li{    transition: all 0.4s ease; display: block;text-align:left;}
.main-menu ul.navbar-nav{
    text-align: left !important;
    display: block;
}
.find_nav_list{
    margin-top:-15px;
}
.navbar-nav li ul{
  position:relative;
  display:none;
  width: 100%;
}    
.fa-f1 {
   display: inline-block;
}

.find_nav_list li a:before,.menu-1-1:before{
  top:12px;
  left:0;
  height:8px;
  width:8px;
  border-radius: 4px;
  opacity:0;
  transition: all 0.1s ease-out;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px); 
}
.find_nav_list li a:hover,.menu-1-1:hover{
  background: none;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);  
  color: var(--ys4);
  transition: all 0.3s ease-out;
}
.find_nav_list li a:hover:before,.find_nav_list li a:hover:after,.menu-1-1:hover:before,.menu-1-1:hover:after{
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity:.9;
}

.menu-1-1-2 a{
   top: -10px;
   margin:0px  0 -26px 0;
}
.menu-1-1-3 a{
   top: -10px;
}
.navbar-nav li:hover .erji li {    /*===二级菜单控制==*/
  display:none;
}

.main-menu ul li:hover .menu-b {
  transform:rotate(0deg);
}
#erji1 li.click,#erji2 li.click,#erji3 li.click{    /*===二级菜单控制==*/
  display:inline-block;
}

#tableList1.click,#tableList2.click,#tableList3.click {
    color: var(--ys4);
}

#tableList1.click .menu-b,#tableList2.click .menu-b,#tableList3.click .menu-b{
    transform:rotate(-180deg);
    color: var(--ys4);
}

.erji li{
  animation-name: zcd2;
  animation-duration:.5s;
}
.erji li:before{
  left:10px;
}
.erji{
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
} 

.main-menu ul li ul{
  display:inline-block;
} 

.d1 {
  float: left;
  z-index: 31;
  margin: -44px 0 0 -180px;
  position:absolute;
  transition:all .1s ease-out 0s;
} 
.logo a.click{
  margin-left: -100px;
  transition:all .1s ease-out 0s;
}
.d1.click {
  margin: -44px 0 0 -10px;
  transition:all .2s ease-out .2s;
}
.d1 button {
  padding-left: 22px;
} 

.d1 input {
  padding-left:32px;
  margin-left: -40px;
  width: 120px;
  height: 32px;
  border: 1px solid rgba(160, 160, 160, 0.4);
  border-radius: 16px;  
}
.d1 input:hover{
	margin-left:-40px;
	width:130px;
}
.d1 input:focus {
	margin-left:-40px;
	}
 /*======10. 底部版权信息=======*/
.text-center {
  padding: 10px 0;
}
.footer-text p{
  font-size: 11px;
}
/*========滚动名言部分=========*/
.review-content p{  
  font-size: 15px;
  letter-spacing: 1px;  /*====字体间距===*/
}
h5.author{
  font-size: 12px;
}


}
/* 宽度小于950px */
@media only screen and (max-width: 950px) { 
.review-section{
  background-color: var(--ysb7);
}
}

@media only screen and (max-height: 580px) {

.list {
  margin-top:-30px;
}
}
@media only screen and (max-height: 480px) {

.list {
  margin-top:-10px;
}
h5.author{
  display: none;
}
.Welcome-3{
  display: none;
}
}
@media only screen and (max-height: 420px) {

.caidan {
  height: 260px;
  overflow:scroll;
  -webkit-overflow-scrolling : touch;
  transition: all 0.3s ease;
}
}
/* 高度小于440px */
@media only screen and (max-height: 440px) {
.review-full-area {
  display: none;
}
.list {
  margin-top:0px;
}
}


